/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto');*/


body {
    margin: 0;
    overflow: hidden;
    background-color: #d7f0f7;
}

#panel {
    padding: 0;
    z-index:0;
    width: 100%;
    background-color: #d7f0f7;
    color: #000;
    font-size: 18px;
    line-height: 1.2;
}

.dropdown {
    height: 100%;
    padding: 0;
    text-align: center;
    background-color: white;
    margin: auto;
    width: 600px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    border: 1px solid #d9d9d9;
    border-top: 0;
}

.dropdown-menu {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    background-color: white;
    width: 600px;
    height: 90vh;
    border: 1px solid #d9d9d9;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px; /* Don't ask me why, but it works... */
    overflow-y: auto;

}

.dropdown-menu h1 {
    /*font-family: "Droid Serif";*/
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.dropdown-menu p {
    text-align: justify;
}

.dropdown-menu img {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-menu .caret-p {
    width: 3px;
    margin: auto;
    text-align: center;
}
.collapsing {
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
